.searchBarContainer {
	position: absolute;
	width: 90vw;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;

	background-color: var(--cl-gray-800);
	padding: var(--sp-3);
	border-radius: var(--rd-lg);
	border: 2px solid var(--cl-gray-400);
	box-shadow: 0 0 0 2px var(--textGolden);
	transition: margin-top 0.5s ease;

	& input {
		background: var(--cl-gray-700);
		border: 0;
		border-radius: var(--rd-md);
		color: var(--cl-white);
		font-size: var(--fs-lg);
		text-align: center;
		width: 100%;
	}
	margin-top: -20px;
}

@media (max-width: 900px) {
	.searchBarContainer {
		margin-top: 0px;
	}
}
