.searchBarContainer {
	position: absolute;
	width: 90vw;
	height: var(--sp-14);
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: calc(var(--sp-5) * -1);

	background-color: var(--cl-gray-800);
	padding: var(--sp-3);
	border-radius: var(--rd-lg);
	border: 2px solid var(--cl-gray-400);
	box-shadow: 0 0 0 2px var(--textGolden);

	& input {
		background: var(--cl-gray-700);
		border: 0;
		border-radius: inherit;
		color: var(--cl-white);
		font-size: var(--fs-lg);
		text-align: center;
		width: 100%;
	}
}
