/* General Settings */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--bg-color);
	background-image: url(/assets/Gjallarhorn.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 33.33% 100vh;
}

body * {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
}

:root {
	--bg-color: rgba(0, 0, 55, 1);
	--text-color: #ffffff;
	--centralContainerColor: rgba(0, 0, 50, 1);
	--SignInBlockBackground: rgba(0, 0, 40, 1);
	--textGolden: #ba9f08;
	--button-hover: #ffff00;
	--button-color: rgba (0, 0, 0, 0.05);
}

/* Central Container */

#centralContainer {
	display: block;
	border: 1px, solid, black;
	box-shadow: 0px 0px 30px 10px black;
	width: 500px;
	height: 400px;
	margin: 10% auto auto;
	padding: 30px;
	border-radius: 15px;
	background-color: var(--centralContainerColor);
}

/* Login Block */

#targetBot {
	display: block;
	margin: 0 auto;
	background-color: var(--SignInBlockBackground);
	border-radius: 5px;
	border: 1px solid black;
}

#targetBotLabel {
	display: inline;
	margin: 0 170px;
}

.entryBlock label {
	color: var(--textGolden);
}

.entryBlock h1 {
	display: block;
	color: var(--textGolden);
	text-align: center;
	background-color: var(--SignInBlockBackground);
	border-radius: 15px;
	font-size: 35px;
}

.formArea {
	background-color: var(--SignInBlockBackground);
	border-radius: 15px;
	margin-top: 10px;
	padding: 10px;
}

.textEntry {
	color: var(--textGolden);
	font-size: 20px;
	margin: 2% 0;
	padding: 8px;
}

.textEntry textarea {
	display: block;
	margin: 10px auto;
	padding: 6.5px;
	width: 90%;
	height: 30px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.2);
	resize: none;
	overflow: hidden;
}

.signEntry textarea:hover {
	border: 1px solid var(--button-hover);
}

/*  submitbutton */

#submitButton div {
	color: var(--textGolden);
	background-color: rgb(10, 0, 51);
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 40px;
	text-align: center;
	font-size: 22px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	border-radius: 20px;
	border: 4px solid rgb(27, 13, 68);
}
#submitButton :hover {
	background: rgb(22, 0, 110);
	border: 1.5px solid var(--button-hover);
	color: var(--button-hover);
}
