.queueContainer {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 200px;

	padding: var(--sp-1);
	padding-top: var(--sp-8);
	background-color: var(--cl-gray-800);
	border-radius: var(--rd-lg);
	border-left: 2px solid var(--cl-gray-700);
	border-right: 2px solid var(--cl-gray-700);
	overflow: hidden;
}

.queueTitle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--cl-gray-100);
	width: 100%;
	top: 0;
	height: var(--sp-8);
	padding-bottom: var(--sp-1);
	border-bottom: 1px solid var(--cl-gray-300);
	margin-bottom: var(--sp-1);
}

.noTracksMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--cl-gray-300);
}

.tracksList {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
	height: 100%;
	padding: var(--sp-1);
	overflow: scroll;

	border-radius: var(--rd-lg);
	background-color: var(--cl-gray-900);
}

.trackEntryContainer {
	position: relative;
	width: 100%;
}

.trackEntry {
	position: relative;
	width: 100%;
	color: var(--cl-gray-100);
	background-color: var(--cl-gray-700);
	border: 1px solid var(--cl-gray-600);
	outline: 1px solid transparent;
	border-radius: var(--rd-md);
	padding: var(--sp-2) var(--sp-8);
	min-height: 40px;
	overflow: hidden;

	transition:
		background 0.5s ease,
		border 0.5s ease,
		color 0.5s ease,
		outline 0.75s ease;

	animation: sliding-fade-in 1s ease;

	&:hover {
		cursor: pointer;
		background-color: var(--cl-gray-600);
	}

	&.current {
		color: var(--cl-yellow-500);
		background-color: var(--cl-gray-800);
		border: 1px solid var(--cl-yellow-700);
		outline: 1px solid var(--cl-yellow-700);

		& p {
			color: var(--textGolden);
		}
		& > .indexIcon {
			color: var(--cl-yellow-600);
		}

		&:hover {
			color: var(--cl-yellow-400);
			background-color: var(--cl-gray-700);
		}
	}
	&.trackLoop {
		color: var(--cl-green-600) !important;
		border-color: var(--cl-green-700);
		outline-color: var(--cl-green-700);

		&.current > p {
			color: var(--cl-green-600) !important;
		}
		&.current > .indexIcon {
			color: var(--cl-green-700) !important;
		}
	}
	&.queueLoop {
		color: var(--cl-red-800) !important;
		border-color: var(--cl-red-900);
		outline-color: var(--cl-red-900);

		&.current > p {
			color: var(--cl-red-800) !important;
		}

		&.current > .indexIcon {
			color: var(--cl-red-900) !important;
		}
	}
	&.paused {
		color: var(--cl-gray-300) !important;
		border-color: var(--cl-gray-600) !important;
		outline-color: var(--cl-gray-600) !important;

		&.current > p {
			opacity: 0.5;
		}
		&.current > .indexIcon {
			color: var(--cl-gray-600) !important;

			& img {
				opacity: 0.5;
			}
		}
	}
}

.queueEnd {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: var(--cl-gray-500);
	background-color: var(--cl-gray-900);
	width: 100%;
	flex: 1;
	height: 100%;
	top: 2px;
	height: var(--sp-8);
	padding-top: var(--sp-1);
	border-top: 1px solid var(--cl-gray-600);
	margin-bottom: var(--sp-1);
}

.indexIcon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: var(--sp-3);
	top: 50%;
	transform: translateY(-50%);
	color: var(--cl-blue-700);
	font-weight: 600;
	transition: color 0.5s ease;
}

.plataformIconLink {
	position: absolute;
	width: 18px;
	aspect-ratio: 1;
	left: 25px;
	top: 50%;
	opacity: 0.25;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 5;
	transition: 0.25s linear opacity;

	& > img {
		margin-top: 1px;
		position: absolute;
		object-fit: contain;
		transition: opacity 0.75s ease;
	}
	&:hover {
		opacity: 1;
	}
	animation: sliding-fade-in 1s ease;
}

.removeTrackEntryButton {
	position: absolute;
	width: 15px;
	height: 100%;
	line-height: 100%;
	right: -1px;
	opacity: 0.25;
	cursor: pointer;
	background-color: var(--cl-red-900);
	border: none;
	border-top-right-radius: var(--rd-md);
	border-bottom-right-radius: var(--rd-md);
	z-index: 5;
	opacity: 0;
	transition:
		0.25s linear opacity,
		0.25s linear background-color;

	& > img {
		margin-top: 1px;
		position: absolute;
		object-fit: contain;
		transition: opacity 0.75s ease;
	}
	&:hover {
		background-color: var(--cl-red-500);
	}
	animation: sliding-fade-in 1s ease;
}

.trackEntryContainer:hover .removeTrackEntryButton {
	opacity: 0.5;
}

.artworkPreview {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	opacity: 0.25;

	width: 60px;
	aspect-ratio: 16 / 9;

	& img {
		border-top-right-radius: var(--fs-xxs);
		border-bottom-right-radius: var(--fs-xxs);
		object-fit: contain;
	}
}

.title {
	position: relative;
	z-index: 2;
	font-size: var(--fs-sm);
	color: var(--cl-gray-200);
	transition:
		0.5s linear color,
		0.5s linear opacity;
}

@keyframes sliding-fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
}
