.userConnectionContainer {
	position: absolute;
	display: flex;
	flex-direction: column;

	top: 2;
	margin-top: calc(var(--sp-4) * -1);
	left: calc((var(--sp-5) * -1));
	color: var(--cl-white);
	background-color: var(--cl-gray-700);
	border: 2px solid var(--cl-gray-400);
	box-shadow: 0 0 0 2px var(--textGolden);
	border-radius: var(--rd-full);
	width: var(--sp-13);
	height: var(--sp-13);
	overflow: hidden;

	& > img {
		object-fit: contain;
		border-radius: inherit;
		transition: 0.5s linear border;
	}
}

.active {
	border: 3px solid var(--cl-green-300);
}
.inactive {
	border: 3px solid var(--cl-green-900);
}

@media (max-width: 1200px) {
	.userConnectionContainer {
		width: var(--sp-10);
		height: var(--sp-10);
	}
}
@media (max-width: 900px) {
	.userConnectionContainer {
		margin-top: var(--sp-1);
	}
}
