.controlBarContainer {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;

	display: flex;
	flex-direction: column;
	gap: var(--sp-2);
	left: calc((var(--sp-5) * -1));
}
.actionButton {
	color: var(--cl-white);
	background-color: var(--cl-gray-700);
	border: 2px solid var(--cl-gray-400);
	box-shadow: 0 0 0 2px var(--textGolden);
	border-radius: var(--rd-full);
	width: var(--sp-10);
	height: var(--sp-10);

	& img {
		height: 100%;
		width: 100%;
		font-size: 0;
	}

	&:hover {
		background-color: var(--cl-gray-500);
		border-color: var(--button-hover);
		cursor: pointer;
	}

	transition:
		0.1s linear background,
		0.5s linear border;
}
