.savedPlaylistButtonContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.savedPlaylistButtonButton {
	width: 100%;
	background-color: var(--cl-gray-700);
	border: 1px solid var(--cl-gray-800);
	cursor: pointer;
	color: var(--cl-gray-400);
	font-weight: var(--fw-bold);
	text-align: left;
	padding: var(--sp-2);
	transition: 0.25s linear background-color;

	&.defaultButton {
		border: 1px solid var(--cl-gray-300);
		border-top-left-radius: var(--rd-md);
		border-top-right-radius: var(--rd-md);
	}
	&:focus {
		background-color: var(--cl-gray-500);
		outline: none;
	}
	&:hover {
		background-color: var(--cl-gray-600);
	}
	&.isActive {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
